In [1]:
# Install the libraries needed
# ! pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\dell\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\dell\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [1]:
# load the datasets
import pandas as pd

csv_data = pd.read_csv("../../data/raw/finalalldata.csv")
excel_data = pd.read_excel("../../data/raw/Dataset_PowerBI.xlsx")

In [2]:
import json

with open("../../data/raw/d09eafb5-c273-4bad-ac09-d18ea064064b.json", "r") as file:
    json_data = json.load(file)

In [6]:
csv_data.sample(7)

,uid,label,sex,age,bmi,smoke,location,rs10007052,rs8192288,rs20541,rs12922394,rs2910164,rs161976,rs473892,rs159497,rs9296092,class
461,BT1811250402LMSBE,1,1,68,14.30,1,5.31,2.792241,0.351293,0.448632,1.0000,1.416000,1.000,1.000000,1.445000,1.000,validate
364,copdcase78,1,1,48,24.80,1,8.72,1.671000,0.592700,1.000000,0.6506,1.416000,1.594,1.473000,2.088025,1.000,train
151,case236,1,2,71,28.40,0,6.88,1.671000,1.000000,1.000000,1.0000,1.416000,1.000,1.000000,1.000000,1.000,train
18,copdcontrol5,0,1,31,22.84,0,4.63,1.671000,0.592700,0.669800,1.0000,1.416000,1.000,2.169729,1.000000,1.000,train
387,copdcase73,1,2,62,35.70,0,8.72,1.000000,1.000000,0.669800,0.6506,2.005056,1.000,1.000000,1.000000,1.000,train
334,case248,1,1,59,19.60,1,8.72,1.671000,0.592700,0.448632,0.6506,1.416000,1.000,1.000000,2.088025,1.000,train
448,BT1812290140HMSBS,0,2,64,25.20,0,5.31,2.792241,1.000000,0.669800,1.0000,2.005056,1.000,2.169729,1.000000,1.832,validate

In [7]:
excel_data.sample(8)

,Patient ID,Gender,Age,Heigt(cm),Height(in),weight kg,weight (lb),BMI,Smoker,Comorbidity1,...,RR During vigorous exercise,Baseline FEV1,Current FEV1,Baseline VO2,VO2 Reserve,VO2 max,VO2 During light exercise,VO2 During moderate exercise,VO2 During vigorous exercise,Status
608,655,Female,89,164,64.452,51,112.404,19.022356,Yes,NaN,...,47,0.537117,"0,692 L",1.300,0.534449,1.834449,"1,356 ml/kg/min","1,596 ml/kg/min","1,654 ml/kg/min",NaN
247,294,Female,77,167,65.631,61,134.444,21.942126,No,NaN,...,50,0.473191,"0,392 L",1.529,3.400496,4.929496,"2,194 ml/kg/min","2,903 ml/kg/min","3,769 ml/kg/min",NaN
814,861,Female,78,167,65.631,73,160.892,26.258610,Yes,Chronic Kidney,...,56,1.024572,"1,149 L",1.492,7.651383,9.143383,"3,645 ml/kg/min","5,632 ml/kg/min","7,242 ml/kg/min",NaN
332,379,Male,68,180,70.740,85,187.340,26.318173,No,NaN,...,65,0.974795,"0,936 L",2.554,6.029796,8.583796,"3,257 ml/kg/min","5,264 ml/kg/min","7,135 ml/kg/min",NaN
701,748,Male,81,172,67.596,113,249.052,38.318047,Yes,NaN,...,64,0.670014,"0,59 L",2.084,3.321424,5.405424,"2,572 ml/kg/min","3,942 ml/kg/min","4,384 ml/kg/min",NaN
105,152,Female,66,160,62.880,96,211.584,37.619505,Yes,NaN,...,40,1.685394,"1,694 L",1.959,10.587452,12.546452,"5,805 ml/kg/min","8,132 ml/kg/min","8,35 ml/kg/min",NaN
861,908,Female,80,166,65.238,74,163.096,26.939986,No,NaN,...,47,0.969236,"0,963 L",1.322,6.268217,7.590217,"1,99 ml/kg/min","3,892 ml/kg/min","6,278 ml/kg/min",NaN
1133,1180,Male,85,181,71.133,69,152.076,21.128748,No,NaN,...,62,0.758633,"0,761 L",2.206,9.149619,11.355619,"3,924 ml/kg/min","6,953 ml/kg/min","7,742 ml/kg/min",NaN

In [8]:
json_data

{'accessLevel': 'restricted public',
 'bureauCode': ['020:00'],
 'contactPoint': {'fn': 'Kristen Rappazzo',
  'hasEmail': 'mailto:rappazzo.kristen@epa.gov'},
 'description': 'Information on hospitalizations of COPD patients from electronic health records linked to air pollution concentrations for the study period. This dataset is not publicly accessible because: EPA cannot release personally identifiable information regarding living individuals, according to the Privacy Act and the Freedom of Information Act (FOIA). This dataset contains information about human research subjects. Because there is potential to identify individual participants and disclose personal information, either alone or in combination with other datasets, individual level data are not appropriate to post for public access. Restricted access may be granted to authorized persons by contacting the party listed. It can be accessed through the following means: Can be requested through NCTracts https://tracs.unc.edu/index.php/services/comparative-effectiveness-research/data-linkage. Format: Data used in this analysis include electronic health records from the UNC healthcare system. \n\nThis dataset is associated with the following publication:\nCowan, K., L. Wyatt, T. Luben, J. Sacks, C. Ward-Caviness, and K. Rappazzo. Effect measure modification of the association between short-term exposures to PM2.5 and hospitalizations by longs-term PM2.5 exposure among a cohort of people with Chronic Obstructive Pulmonary Disease (COPD) in North Carolina, 2002–2015.   ENVIRONMENTAL HEALTH. Academic Press Incorporated, Orlando, FL, USA, 22: 49, (2023).',
 'distribution': [],
 'identifier': 'https://doi.org/10.23719/1530582',
 'keyword': ['hospitalization',
  'COPD',
  'electronic health records',
  'particulate matter (PM)',
  'long and short term interaction'],
 'license': 'https://pasteur.epa.gov/license/sciencehub-license-non-epa-generated.html',
 'modified': '2024-01-19',
 'programCode': ['020:000'],
 'publisher': {'name': 'U.S. EPA Office of Research and Development (ORD)',
  'subOrganizationOf': {'name': 'U.S. Environmental Protection Agency',
   'subOrganizationOf': {'name': 'U.S. Government'}}},
 'references': ['https://doi.org/10.1186/s12940-023-00999-4',
  'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC10308617'],
 'rights': 'EPA Category: Personally Identifiable Information (PII), NARA Category: Privacy',
 'title': 'CARES_COPD_casecrossover'}

### Extract the relevent columns

In [11]:
csv_selected_cols = csv_data[["sex", "bmi", "age", "location","smoke"]]
excel_selected_cols = excel_data[["Heigt(cm)", "weight kg", "BMI"]]

In [13]:
csv_selected_cols.shape

(633, 5)